* {
  box-sizing: border-box;
}

p {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
}

#iphone,
#laptop {
  display: none;
}

/*Hides the light of the lamp*/
#light-standlamp {
  display: none;
}


/*TV buttons turning animation*/
.spin {
  -webkit-animation: rotation 5s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }

/*Styling the modal*/
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(139, 69, 19, 0.5);
}
.hidden {
  display: none;
}

.modal {
  background-color: #eae0c2;
  width: 92%;
  height: 92%;
  display: flex;
  flex-direction: column;
}

.restart {
  font-size: 25px;
  font-weight: bold;
  color: #fff200;
  background-color: #9a512f;
  box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  display: block;
  border-radius: 50em;
  position: relative;
  text-align: center;
  width: max-content;
  margin: 10px;
  padding: 5px;
}
.next h1 {
  padding: 0;
  margin: 0;
}
.restart h1 {
  padding: 0;
  margin: 0;
}
.next {
  font-size: 25px;
  font-weight: bold;
  color: #fff200;
  background-color: #9a512f;
  box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  display: block;
  border-radius: 50em;
  position: relative;
  text-align: center;
  width: max-content;
  margin: 10px;
  padding: 5px;
  align-self: flex-end;
  margin-top: auto;
}
