* {
  box-sizing: border-box;
}

#iphone,
#laptop {
  display: none;
}
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(139, 69, 19, 0.5);
}
.hidden {
  display: none;
}

.modal {
  background-color: #eae0c2;
  width: 92%;
  height: 92%;
  display: flex;
  flex-direction: column;
}

.restart {
  font-weight: bold;
  color: #fff200;
  background-color: #9a512f;
  box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  display: block;
  border-radius: 50em;
  position: relative;
  text-align: center;
  width: max-content;
  margin: 10px;
  padding: 5px;
}
.next h1 {
  padding: 0;
  margin: 0;
}
.restart h1 {
  padding: 0;
  margin: 0;
}
.next {
  font-weight: bold;
  color: #fff200;
  background-color: #9a512f;
  box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  display: block;
  border-radius: 50em;
  position: relative;
  text-align: center;
  width: max-content;
  margin: 10px;
  padding: 5px;
  align-self: flex-end;
  margin-top: auto;
}
